body {
    background-color: lightgrey !important;
    color: black;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 10px !important;
    text-align:  center;
    color: yellow;
}

input[type=text], input[type=password] {
    border: 3px solid red;
    border-radius: 6px;
}

